{% extends 'base.html.twig' %}

{% block title %}Inventory index{% endblock %}

{% block body %}
    <h1>Inventory index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Store</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.id }}</td>
                <td>
                    <a href="{{ inventory.store ? path('app_store_show', {'id': inventory.store.id}) : path('app_inventory_index') }}"> {{ inventory.store ? inventory.store.name : '' }} </a>
                </td>
                <td>
                    <a href="{{ path('app_inventory_show', {'id': inventory.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
