{% extends 'base.html.twig' %}

{% block title %}Inventory{% endblock %}

{% block body %}
    <h1>Inventory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventory.id }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_inventory_index') }}">back to list</a>

{% endblock %}
