$color-theme: (
    "blue": #5773FF,
    "indigo": #6610f2,
    "purple": #4731b6,
    "pink": #e83e8c,
    "red": #931F1D,
    "orange": #F35421,
    "yellow": #FFCF52,
    "green": #50C6B4,
    "teal": #20c997,
    "cyan": #51BBFE,
    "white": #fff,
    "gray": #6c757d,
    "gray-dark": #01041b,
    "skyblue": #158df7,
    "primary": #5773FF,
    "secondary": #F35421,
    "success": #50C6B4,
    "info": #51BBFE,
    "warning": #FFCF52,
    "danger": #931F1D,
    "light": #c7cbd3,
    "dark": #01041b,
    "light-gray": #f4f5fa,
);

$color-theme-iq: (
    iq-primary:#5773FF,
    iq-secondary:#F35421,
    iq-success:#50C6B4,
    iq-info:#51BBFE,
    iq-warning:#FFCF52,
    iq-danger:#931F1D,
    iq-light:#c7cbd3,
    iq-dark:#01041b,
    iq-orange:#F35421,
    iq-purple:#4731b6,
    iq-skyblue:#158df7,
    iq-light-gray:#f4f5fa,
    iq-white:#fff,
);