{% extends "base.html.twig" %}

{% block title %}
Users Dashboard | {% block activePage %}{% endblock %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <h1>Content from user base</h1>
{% endblock %}