{% extends 'email/base.html.twig' %}

{% block title %} %title% {% endblock %}

{% block body %}
    <div>
        <p>
            Hi, %username%. Someone wants (requesting) to rest your account's password
            <br>
            If it's not you than nothing to worry about Otherwise here is your
            <u>Verification Key:&nbsp;</u> <strong> %Vkey% </strong>
            <br>
        </p>
        <h4>PS: V Key is valid for %Timeout% seconds after it's requested (%calculate expire time%)</h4>
    </div>
{% endblock %}